* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
}

.main {
    background: url(../../assets/img/mesa.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
}

.main h1 {
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Bitter', serif;
}

.produto {
    max-width: 100%;
    width: 295px;
    height: 195px;
    object-fit: cover;
}

.imagem {
    height: 100px;
    width: 100%;
    border-radius: 20px;
}

h1 {
    font-weight: 700;
    font-family: 'Bitter', serif;
}

h5{
    color:  #bb0a3f;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color: #000000;
}

.h5{
    color: red;
    font-family: 'Bitter', serif;
    font-weight: bold;
    font-size: 16px;
}

.btndetails{
    height: 45%;
    width: 20%;
    outline: none;
    border: none;
    background: #f81a5c;
    font-family: 'Bitter', serif;
    color: white;
    border-radius: 60px;
    font-weight: 700;
}

.btndetails:hover {
    background-color: #bb0a3f;
    color: #fff;
    transition: 0.5s;
}

a:hover{
    color: #fff;
}

.btn1{
    height: 40%;
    width: 40%;
    outline: none;
    border: none;
    background: #f81a5c;
    font-family: 'Bitter', serif;
    color: white;
    border-radius: 60px;
    font-weight: 700;
}

.btn1:hover {
    background-color: #bb0a3f;
    transition: 0.5s;
}

.card:hover {
    box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
    transition: 0.5s;
}
