* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
}

.btnVoltar{
    font-size: 1.5em;
    color: #f81a5c;
    border-radius: 60px;
}

.btnVoltar:hover{
    color: #ff85aa;
}

.produto {
    max-width: 100%;
    width: 80%;
    height: 80%;
    object-fit: cover;
    align-items: center;
    padding-left: 10% ;
}

.btndetails{
    height: 40%;
    width: 15%;
    outline: none;
    border: none;
    background: #f81a5c;
    font-family: 'Bitter', serif;
    color: white;
    border-radius: 60px;
    font-weight: 700;
}

.btndetails:hover {
    background-color: #bb0a3f;
    color: #fff;
    transition: 0.5s;
}

.especif {
    font-size: 12px;
    font-family: 'Bitter', serif;
    color: #000000;
}
