* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
}

:root {
    --primary: rgb(248, 26, 92);
    --secondary: rgb(248, 26, 92);
    --dark: rgb(248, 26, 92);
    --light: #ffffff;
    background: rgb(0, 115, 19);
}

.btn2 {
    height: 40px;
    width: 30%;
    outline: none;
    border: none;
    background: rgb(250, 36, 36);
    color: white;
    border-radius: 60px;
    font-weight: 700;
    font-family: 'Bitter', serif;
    cursor: pointer;
}

.btn2:hover {
    background-color: rgb(250, 125, 125);
    transition: 0.5s;
}

.btn1 {
    height: 40px;
    width: 30%;
    outline: none;
    border: solid 1px rgb(248, 26, 92);
    background: #FFF;
    color: rgb(248, 26, 92);
    border-radius: 60px;
    font-weight: 700;
    font-family: 'Bitter', serif;
    cursor: pointer;
}

.btn1:hover {
    background-color: rgb(250, 125, 125);
    transition: 0.5s;
    color: #fff;
}

body {
    font-family: montserrat, sans-serif;
    width: 100%;
    min-height: 100vh;
}

.card {
    margin: 6px auto 0;
    width: 350px;
    height: 550px;
    perspective: 1000px;
    position: relative;
    min-height: 1px;
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
}

.card__content {
    width: 100%;
    height: 100%;
}

.tm {
    font-size: smaller;
    cursor: pointer;
}

.card__header {
    position: relative;
    padding: 30px 30px 40px;
}

.card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
    z-index: -1;
    border-radius: 0px 0px 50% 0px;
}

.card__header h2 {
    color: #FFF;
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.card__body {
    padding: 30px;
    font-weight: bold;
}

.card__body h3 {
    color: var(--dark);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

#txtEmail {
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.4;
}

#txtSenha {
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.4;
}

#txtEmailLogin {
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.4;
}


.card__body p {
    color: var(--dark);
    font-size: 16px;
    line-height: 1.4;
}

.do-flip {
    transform: rotateY(180deg);
}

#flip-card {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -o-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.animationLeft {
    width: 100%;
    height: 100%;
    position: relative;
    animation: mymoveLeft 5s;
}

@keyframes mymoveLeft {
    0% {
        top: 0px;
        width: 100px;
    }

    100% {
        top: 0px;
        width: 300px;
    }
}


