* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
  }
  
  .btn0 {
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    font-family: 'Bitter', serif;
    color: rgb(248, 26, 92);
    border-radius: 60px;
    font-weight: 700;
    cursor: pointer;
  }
  
  .btn0:hover{
    color: #ff85aa;
  }
  
  h1 {
    font-weight: 700;
    font-family: "Bitter", serif;
  }
  
  h5 {
    color: #bb0a3f;
    font-family: "Lobster", cursive;
    font-weight: bold;
  }
  
  .imgcar {
    height: 80px;
    width: 40%;
    border-radius: 20px;
  }
  
  .btnlixo {
    height: 45%;
    width: 20%;
    outline: none;
    border: none;
    background: #f81a5c;
    font-family: "Bitter", serif;
    color: white;
    border-radius: 60px;
    font-weight: 700;
    text-align: center;
  }
  
  .btnlixo:hover {
    background-color: #bb0a3f;
    transition: 0.5s;
  }
  
  .linhacarrinho {
    text-align: center;
    vertical-align: center;
  }
  
  .imagem {
    max-width: 100%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  td {
    vertical-align: center;
  }
  
  .btnfinalizar {
    height: 50px;
    width: 20%;
    outline: none;
    border: none;
    background: #f81a5c;
    font-family: "Bitter", serif;
    color: white;
    border-radius: 60px;
    font-weight: 700;
    cursor: pointer;
  }
  
  .btnfinalizar:hover {
    background-color: #bb0a3f;
    transition: 0.5s;
  }
  
  .finalizar {
    align-items: flex-end;
  }
  
  
  